body {background-color:black; font-family:'Times New Roman', Times, serif;}
#header {
    background-color:white;
    color: black;
    text-align: center;
    padding: 10px;
}

#nav {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 8px;
}

#section {
    background-color: #eeeeee;
    color: black;
    text-align: center;
    float: left;
    width: 33em;
}

#footer {

}
