#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:gray;
    height:700px;
    width:250px;
    float:left;
    padding:5px; 
}
#section {
    background-color:#eeeeee;
    width:700px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}